<?xml version="1.0" encoding="ISO-8859-1" ?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Hello World</title>
</h:head>
<h:body>
	<style type="text/css">
.ui-analog-clock {
	width: 200px;
}
</style>

	<f:view>
			<h:form id="mainForm">
			<p:panelGrid columns="2">
				<h:outputLabel for="name" value="Please enter your name" />
				<h:inputText id="name" value="#{helloWorld.name}" required="true" />
				<h:commandButton value="Press me" action="#{helloWorld.send}" />
				<h:messages showDetail="true" showSummary="false" />
			</p:panelGrid>

			<h3 style="margin-top: 0">Client</h3>
			<p:clock />

			<h3>Server</h3>
			<p:clock pattern="HH:mm:ss dd.MM.yyyy" mode="server" />

			<h3>Analog</h3>
			<p:clock displayMode="analog" />

			<p:separator />

			<p:dialog header="Dialog" widgetVar="dlg" minHeight="40" modal="true">
				<h:outputText value="Resistance to PrimeFaces is futile!" />
			</p:dialog>

			<p:commandButton value="Dialog" onclick="PF('dlg').show()"
				type="button" style="display:block;" />

			<p:panel header="Panel" style="margin:20px 0px">
               Panel Content
            </p:panel>

			<p:spinner />

			<p:toolbar style="margin:20px 0px">
				<f:facet name="left">
					<p:commandButton type="button" value="New" icon="pi pi-file" />
					<p:commandButton type="button" value="Open"
						icon="pi pi-folder-open" />
					<p:commandButton type="button" title="Save" icon="pi pi-save" />
					<p:commandButton type="button" title="Delete" icon="pi pi-trash" />
					<p:commandButton type="button" title="Print" icon="pi pi-print" />
				</f:facet>

				<f:facet name="right">
					<p:menuButton value="Navigate">
						<p:menuitem value="Home" url="http://www.primefaces.org" />
						<p:menuitem value="ShowCase"
							url="http://www.primefaces.org/showcase" />
						<p:menuitem value="TouchFaces"
							url="http://www.primefaces.org/showcase/touch" />
					</p:menuButton>
				</f:facet>
			</p:toolbar>

			<p:accordionPanel>
				<p:tab title="Tab1">Tab1 Content</p:tab>
				<p:tab title="Tab2">Tab2 Content</p:tab>
				<p:tab title="Tab3">Tab3 Content</p:tab>
			</p:accordionPanel>
		</h:form>
	</f:view>
</h:body>
</html>
